<html>
<head>
    <title>Hospital Website</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarText" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="place">
                <li class="nav-item" th:each="navElement:${navElements.elements}">
                    <a class="nav-link active" aria-current="page" th:href="${navElement.key}"
                       th:text="${navElement.value}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form th:action="@{/receptionistsMenu}"  method="post" style="width:60%" >
    <div class="modal-body">


        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" th:field="*{receptionist.user.username}" class="form-control myInput"
                   placeholder="Потребителско име" aria-label="Username" aria-describedby="basic-addon1" required>
            <span class="input-group-text mySpan" id="basic-addon2">🔒</span>
            <input type="password" th:field="*{receptionist.user.password}" class="form-control "
                   placeholder="Парола" aria-label="Password" aria-describedby="basic-addon2" required>

        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">🧑</span>
            <input type="text" th:field="*{receptionist.user.firstName}" class="form-control myInput"
                   placeholder="Име" aria-label="First Name" aria-describedby="basic-addon3"
                   required>
            <span class="input-group-text mySpan" id="basic-addon4">👪</span>
            <input type="text" th:field="*{receptionist.user.lastName}" class="form-control"
                   placeholder="Фамилия" aria-label="Last Name" aria-describedby="basic-addon4" required>

        </div>

    </div>

        <button type="submit" class="btn btn-primary">Изпрати</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
</form>

<table class="table" style="width: 70%;margin-left: 15%" th:unless="${#lists.isEmpty(receptionists)}">
    <thead>
    <tr>
        <th scope="col" >Идентификационен номер</th>
        <th scope="col">Потребителско име</th>
        <th scope="col">Име</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Изтрий</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="receptionist:${receptionists}">
        <td th:text="${receptionist.id}"></td>
        <td th:text="${receptionist.user.username}"></td>
        <td th:text="${receptionist.user.firstName}"></td>
        <td th:text="${receptionist.user.lastName}"></td>
        <td> <form method="post" th:action="@{/receptionistsMenu/delete/{id}(id=${receptionist.id})}">
            <button type="submit" class="btn btn-danger"> Изтрий </button></form></td>
    </tr>
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>